.DS_Store
*.snm
*.vrb
*.synctex.gz
*.nav
*.out
*.log
*.fls
*.aux
*.fdb_latexmk
*.toc
*.snm
**/vendor/**
*_minted-*
*.idea*
*.pyg
*.vagrant
*.pdf
**/node_modules/**
package-lock.json
composer.lock
!*.comp.pdf
